@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ring: 240 5% 64.9%;

  --border: 240 5.9% 90%;

  --input: 240 5.9% 90%;

  --white: 0 0% 100%;

  --background: 0 0% 98%;

  --faded-black: 0, 0%, 20%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 5% 64.9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --grey: 240 5% 40%;
  --grey-light: 0, 0%, 41%;
  --grey-dark: 240 7% 14%;
  --grey-foreground: 0, 0%, 51%;

  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;

  --blue: 212 100% 48%;
  --blue-hovered: 221 100% 67%;
  --blue-foreground: 213 100% 38%;

  --radius: 0.5rem;

  --toast-desktop-width: 365px;
  --toast-mobile-width: calc(100% -32px);
}

html,
body {
  height: 100%;
}

body {
  @apply bg-background;
}
